<h1>What's My Change</h1>
<form action="/change">
  <div class="form-group">
    <label for="amount">Enter an amount:
    </label>
    <input id="amount" name="amount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">What's My Change?</button>
</form>
